POSTGRES_USER=Any_User  # для тестирования
POSTGRES_PASSWORD=Any_Password  # для тестирования
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bookservice

APP_DESCRIPTION=Book Service (test task)
secret=Any_Word  # для тестирования
first_superuser_email=admin@admin.example  # для тестирования (можно не указывать)
first_superuser_password=qwerty  # для тестирования (можно не указывать)

GRPC_SERVER=localhost
GRPC_PORT=50051

RABBITMQ_USER=Super_User  # для тестирования
RABBITMQ_PASSWORD=Super_Password  # для тестирования
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=bookservice
